.about {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  scroll-behavior: smooth;
  min-height: 700px;
}

.about__heading {
  text-align: center;
  margin: 20px 0;
  font-size: 3em;
  z-index: 1;
  position: relative;
}

.about__main-text {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  position: relative;
}

.about__markdown-container {
  padding: 70px 0;
}

.about__markdown-container div {
  display: flex;
  flex-wrap: wrap;
}

.about__markdown-container h3 {
  font-size: 70px;
  margin: 30px 0 20px;
}

.about__markdown-container h3:nth-child(1) {
  margin: 150px 0 20px;
}

.about__markdown-container h4 {
  font-size: 40px;
  margin: 30px 0 10px;
}

.about__markdown-container p {
  margin-bottom: 50px;
  font-size: 30px;
}

.about__markdown-container a {
  margin-bottom: 30px;
}

.about__markdown-container img {
  margin: 5px 10px 5px 0;
  min-width: 50px;
  min-height: 20px;
  object-fit: cover;
}

.about__markdown-container .about__text-container {
  display: flex;
}

.about__markdown-container h3:nth-child(4) {
  margin-top: 100px;
}

.about__paragraph {
  font-size: 1em;
  margin: 10px 0;
}

.about__photo {
  min-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 80px;
  margin: 10px 0 10px 60px;
  position: absolute;
  right: 10%;
  top: 5%;
}

.about__list {
  padding-left: 1.5em;
  margin: 0;
}

.about__list-name {
  margin: 1em 0 0.8em;
  font-size: 1.5em;
}

.about__list-item {
  margin: 0.1em 0;
}

.about a {
  color: #000;
  transition: all 0.2s;
}

.about a:hover {
  color: var(--color-2);
}

@media screen and (max-width: 1200px) {
  .about {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .about__heading {
    font-size: 2em;
  }

  .about__main-text {
    display: flex;
    flex-direction: column;
    font-size: 0.8888888888888889em;
  }

  .about__list-name {
    text-align: center;
    margin: 0.8em 0;
  }

  .about__list-item {
    margin: 0.1em 0;
  }

  .about__paragraph {
    margin: 10px 0;
  }

  .about__photo {
    margin: 0 auto 20px;
  }

  .about__markdown-container h3:nth-child(1) {
    font-size: 50px;
    margin-top: 430px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    font-size: 16px;
  }

  .about__photo {
    min-width: 200px;
    height: 200px;
  }

  .about__markdown-container h3 {
    font-size: 50px;
  }

  .about__markdown-container h4 {
    font-size: 30px;
  }
}
