.about {
  font-size: 20px;
}

.about__heading {
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
}

.about__main-text {
  width: 80%;
  margin: 0 auto;
}

.about__text-container {
  display: flex;
}

.about__paragraph {
  font-size: 19px;
  margin: 30px 0;
}

.about__photo {
  min-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 0 10px 60px;
  float: right;
}

.about__list {
  padding: 0;
    margin: 0;
    list-style-type: none;
}

.about__list-name {
  margin: 50px 0 30px;
  font-size: 30px;
}

.about__list-item {
  margin: 10px 0;
}

.about__list-item:before {
  content: "";
  width: 5px;
  height: 5px;
  position: relative;
  background-color: red;
}

.about a {
  color: #000;
  transition: all 0.2s;
}

.about a:hover {
  color: var(--color-2);
}

@media (max-width: 800px) {
  .about__heading {
    font-size: 40px;
  }
  
  .about__main-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .about__list-name {
    text-align: center;
    margin: 30px 0 30px;
  }

  .about__list-item {
    margin: 20px 0;
  }

  .about__paragraph {
    margin: 10px 0;
  }

  .about__photo {
    margin: 0 auto 20px;
  }
}
