.projects__heading {
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  /* box-shadow: 0 0 1px 1px #fff; */
  margin: 10px;
}

.project__info {
  /* position: absolute; */
}

.project__img-link {
  height: 600px;
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  color: #000;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.2s;
}

.project__img-link:hover {
  opacity: 0.7;
}

.project__img-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s;
  background: linear-gradient(145deg,rgba(0,0,0,.03),rgba(0,0,0,.06)) center center/cover no-repeat;
}

/* .project__img-link:hover:before {
  opacity: 0.2;
} */

/* .project__img-link:hover {
  opacity: 0.7;
  outline: 1px solid black;
} */

.project__name {
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  line-height: 30px;
  z-index: 1;
}

.project__gradient {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 50px;
}

.project__img {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.project__links {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.project__link {
  padding: 5px 0;
  border-radius: 10px;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.project__link:not(:last-of-type) {
  margin-right: 30px;
}

.project__link:hover {
  color: var(--color-2);
}

@media (max-width: 1200px) {
  .projects__list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .project__img-link {
    height: 400px;
  }
}
