.projects__heading {
  text-align: center;
  margin: 20px 0;
}

.project {
  display: flex;
  margin: 60px;
  padding: 5px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  /* box-shadow: 0 0 1px 1px #fff; */
}

.project__info {
  padding: 50px;
}

.project__name {
  margin: 20px 0;
}

.project__description {
  margin: 5px 0;
}

.project__img {
  min-width: 70%;
  max-width: 70%;
  min-height: 600px;
  max-height: 700px;
  object-fit: cover;
  border-radius: 15px;
}

.project__links {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.project__link {
  padding: 5px 0;
  border-radius: 10px;
  transition: all 0.2s;
  color: var(--c2);
  font-size: 16px;
  font-weight: 600;
}

.project__link:not(:last-of-type) {
  margin-right: 30px;
}

.project__link:hover {
  color: var(--c1-light);
}

@media (max-width: 1200px) {
  .project__img {
    min-height: 400px;
  }
}

@media (max-width: 800px) {
  .project {
    flex-direction: column;
    margin: 0;
    font-size: 16px;
  }

  .project__info {
    padding: 30px 20px 10px;
  }

  .project__name {
    font-size: 20px;
    margin: 10px 0;
  }

  .project__links {
    padding: 10px 0;
  }

  .project__img {
    max-width: 100%;
    min-height: 300px;
  }
}
