@import url(../../vendor/reset.css);

.header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blog__heading {
  text-align: center;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}
