@import url(../../vendor/reset.css);

body {
  background-color: #fff;
}

.blog__heading {
  text-align: center;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}
