.article-link {
  display: block;
  text-decoration: none;
  transition: all 0.2s;
}

.article-link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.article-link__img {
  width: 100%;
  min-height: 50px;
  height: 30vh;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px;
  position: relative;
}

.article-link:hover .article-link__name,
.article-link:hover .article-link__description {
  color: var(--c1-light);
}

.article-link__name {
  margin: 5px 0;
  color: var(--c2);
  transition: all 0.3s;
}

.article-link__description {
  margin: 0;
  font-size: 18px;
  color: var(--c2);
  transition: all 0.3s;
}
