.footer {
  width: 80%;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.footer__email {
  color: var(--c2);
  text-decoration: none;
  transition: all 0.2s;
}

.footer__email:hover {
  color: var(--c1-light);
}

.footer__menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__menu-item {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__menu-icon {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

.footer__menu-link:hover .footer__menu-icon {
  background-color: #fff;
  transform: rotate(5deg);
  box-shadow: 0 0 5px 2px #fff;
}

.footer__social {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .footer {
    font-size: 16px;
    flex-direction: column-reverse;
  }

  .footer__menu {
    flex-direction: column;
  }

  .footer__social {
    padding: 10px 0;
  }
}
