.footer {
  width: 80%;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
}

.footer__menu {
  display: flex;
  height: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__menu-item {
  padding: 5px 10px;
}

.footer__menu-icon {
  border-radius: 8px;
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

.footer__menu-link:hover .footer__menu-icon {
  background-color: #fff;
  transform: rotate(5deg);
  box-shadow: 0 0 5px 2px #fff;
}
