.add-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form__input {
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.add-form__add-menu {
  display: none;
}

.add-form__add-menu_visible {
  display: flex;
}
