@import url(./vendor/reset.css);
@import url(./fonts/fonts.css);

.app {
  font: 18px "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  cursor: none;
}

a {
  cursor: none;
}

@media screen and (max-width: 1024px) {
  .app,
  a {
    cursor: auto;
  }
}
